@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Siryus Web Application</h1>
        <p class="lead">Sistema de pagos de prestamos seguros :)</p>
        
    </section>

    <div class="row">
        
    </div>
</main>